# ============================================
# 设备平台（不可删）
# ============================================
CONFIG_TARGET_qualcommax=y
CONFIG_TARGET_qualcommax_ipq60xx=y
CONFIG_TARGET_DEVICE_qualcommax_ipq60xx_DEVICE_zn_m2=y

# ============================================
# WIFI 驱动（已禁用）
# ============================================
CONFIG_PACKAGE_kmod-ath11k=n
CONFIG_PACKAGE_kmod-ath11k-ahb=n
CONFIG_PACKAGE_kmod-ath11k-pci=n
CONFIG_PACKAGE_ath11k-firmware-ipq6018=n
CONFIG_PACKAGE_ath11k-firmware-ipq6018-ddwrt=n
CONFIG_PACKAGE_ath11k-firmware-qcn9074=n
CONFIG_PACKAGE_ath11k-firmware-qcn9074-ddwrt=n
CONFIG_PACKAGE_wpad-openssl=n
CONFIG_PACKAGE_hostapd-common=n

# ============================================
# 科学插件（已禁用）
# ============================================
CONFIG_PACKAGE_luci-app-homeproxy=n

# ============================================
# 插件
# ============================================
CONFIG_PACKAGE_luci-app-autoreboot=y
CONFIG_PACKAGE_luci-app-upnp=y
CONFIG_PACKAGE_luci-app-wolplus=n

# ============================================
# 删除插件
# ============================================
CONFIG_PACKAGE_luci-app-attendedsysupgrade=n
CONFIG_PACKAGE_luci-app-wol=n

# ============================================
# 参数（最小化）
# ============================================
CONFIG_TARGET_MULTI_PROFILE=y
CONFIG_TARGET_PER_DEVICE_ROOTFS=y

# ============================================
# 内核 — 保留核心
# ============================================
CONFIG_PACKAGE_kmod-dsa=y
CONFIG_PACKAGE_kmod-mtd-rw=y
CONFIG_PACKAGE_kmod-nft-arp=y
CONFIG_PACKAGE_kmod-nft-bridge=y
CONFIG_PACKAGE_kmod-nft-connlimit=y
CONFIG_PACKAGE_kmod-nft-core=y
CONFIG_PACKAGE_kmod-nft-fib=y
CONFIG_PACKAGE_kmod-nft-fullcone=y
CONFIG_PACKAGE_kmod-nft-nat=y
CONFIG_PACKAGE_kmod-nft-offload=y
CONFIG_PACKAGE_kmod-nft-tproxy=y

# ============================================
# 组件 — 最小化
# ============================================
CONFIG_PACKAGE_autocore=y
CONFIG_PACKAGE_cpufreq=y
CONFIG_PACKAGE_curl=y
CONFIG_PACKAGE_ip-full=y
CONFIG_PACKAGE_luci-base=y
CONFIG_PACKAGE_luci-compat=y
CONFIG_PACKAGE_luci-lib-base=y
CONFIG_PACKAGE_luci-lib-ipkg=y
CONFIG_PACKAGE_luci-lua-runtime=y
CONFIG_PACKAGE_nand-utils=y
CONFIG_PACKAGE_openssl-util=y
CONFIG_PACKAGE_xz-utils=y

# ============================================
# SmartDNS（需要的话加上）
# ============================================
CONFIG_PACKAGE_smartdns=y
CONFIG_PACKAGE_luci-app-smartdns=y
CONFIG_PACKAGE_luci-i18n-smartdns-zh-cn=y
